.carousel-container {
    position: relative;
    width: 100%; /* El carrusel ocupa el 100% del ancho disponible */
    padding-top: 36.25%; /* Esto garantiza una relación de aspecto de 16:9 (9/16 = 0.5625, o 56.25%) */
    margin: auto;
    overflow: hidden; /* Hace que las imágenes fuera de vista no se muestren */
    border-radius: 10px; /* Opcional, para redondear los bordes del carrusel */
    background-color: #000; /* Fondo negro por si la imagen no llena todo el espacio */
    box-sizing: border-box; /* Asegura que el padding no afecte al tamaño total del carrusel */
}

.carousel-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* La imagen ocupa todo el contenedor */
    height: 100%; /* La imagen ocupa todo el contenedor */
    object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor sin distorsionarse */
}

.carousel-images {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
transition: transform 0.5s ease;
}

.carousel-image {
width: 100%;
border-radius: 8px;
}

.carousel-btn {
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: rgba(0, 0, 0, 0.5);
color: white;
font-size: 24px;
border: none;
padding: 10px;
cursor: pointer;
z-index: 10;
}

.carousel-btn.prev {
left: 10px;
}

.carousel-btn.next {
right: 10px;
}

.carousel-container .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    opacity: 0.7;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animación para el empuje y la opacidad */
  }
  
  .carousel-container .carousel-btn:hover {
    opacity: 1; /* Hace que el botón sea más visible cuando se pasa el ratón */
    transform: translateY(-50%) scale(1.2); /* Empuja el botón hacia adentro y aumenta el tamaño */
  }
  
  /* Botones de la izquierda y derecha */
  .carousel-container .carousel-btn.prev {
    left: 10px;
  }
  
  .carousel-container .carousel-btn.next {
    right: 10px;
  }